[project]
name=zxing-3.5.3
desc=a Java application
input=D:/Code/zxing-zxing-3.5.3/core/src/main/java/
output=zxing-3.5.3-output.json

[llm]
apikey=example-apikey
apibase=http://localhost:8000/v1
model=llama3

[seeder]
command={javaexe} -jar {jarfile} -i {input} -a -n {name} -f json
javaexe=./javapers/jdk-17.0.11+9-jre/bin/java.exe
jarfile=./javapers/javapers-1.1.2-jar-with-dependencies.jar
